In [1]:
import pandas as pd

In [7]:
area_df = pd.read_csv('../data/area/hanoi.csv')
distance_df = pd.read_csv('../data/distance/hanoi.csv')

df = pd.merge(area_df, distance_df, on='name', how='inner') 
df = df[['name', 'area', 'distance']]

df = df.drop_duplicates(subset='name', keep='first')
df['area'] = df['area'] / 1000000

df.head(10)

                                 name      area  distance
0                    Công viên Yên Sở  1.402809    7710.2
4                Công viên Thống Nhất  0.458439    3955.9
5                  Công viên Hòa Bình  0.208562   13929.7
6           Công viên Tuổi trẻ Thủ đô  0.179823    2466.8
7                Công viên Thanh Xuân  0.169474    8758.3
8                 Công viên Long Biên  0.159702   40864.5
9                    Công viên Mễ Trì  0.137645   11774.8
10                Công viên Hồ Mễ Trì  0.129875    9160.5
11  Công viên Thiên Văn Học Dương Nội  0.128398   13232.7
12             Công viên Nam An Khánh  0.099892   18633.6